

<ul class="weather-info list">
    <li class="weather-info-item-map">
        <img src="{{this.0.flags.svg}}" alt="${name}" width="90" height="auto">
        <p class="temp">{{this.0.name.official}}</p>
    </li>
    <li class="weather-info-item">
        <p class="sunrise-time"><span class="bold">Capital:</span> {{this.0.capital}}</p>
    </li>
    <li class="weather-info-item">
        <p class="sunset-time"><span class="bold">Population:</span> {{this.0.population}}</p>
    </li>
    <li class="weather-info-item">
        <p class="clouds"><span class="bold">Languages:</span> {{this.0.languages.ukr}}</p>
    </li>
</ul>
