<div class="weather__card">
    <ul class="weather-info list">
        <img src="{{this.0.flags.svg}}" alt="${name}" width="100" height="auto">
        <li class="weather-info-item">
            <p class="temp">{{this.0.name.official}}</p>
        </li>
        <li class="weather-info-item">
            <p class="sunrise-time">Capital: {{this.0.capital}}</p>
        </li>
        <li class="weather-info-item">
            <p class="sunset-time">Population: {{this.0.population}}</p>
        </li>
        <li class="weather-info-item">
            <p class="clouds">Languages: {{this.0.languages.ukr}}</p>
        </li>
    </ul>
</div>